[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
addict = "*"
cython = "<3.0"
google-api-python-client = "*"
ipdb = "*"
ipython = "*"
more-executors = "*"
paramiko = "*"
psutil = "*"
pyaml = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
python-hostlist = "*"
pyyaml = "*"
requests = "*"
tftest = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.8"
