[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pyaml = "*"
pytest = "*"
paramiko = "*"
psutil = "*"
ipdb = "*"
pytest-benchmark = "*"
python-hostlist = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
filelock = "*"
tftest = "*"

[dev-packages]

[requires]
#python_version = "3.8"

[pipenv]
allow_prereleases = true
