[Unit]
Description=Slurm REST daemon
After=network.target munge.service slurmctld.service
Requires=munge.service
ConditionPathExists={{slurm_paths.etc}}/slurm.conf

[Service]
Type=simple
User={{slurmrestd_user.user}}
Group={{slurmrestd_user.group}}
EnvironmentFile=-/etc/sysconfig/slurmrestd
Environment="SLURM_JWT=daemon"
Environment="SLURMRESTD_BINDS=localhost:8383 0.0.0.0:6842 :::8642"
ExecStart={{slurm_paths.install}}/sbin/slurmrestd $SLURMRESTD_OPTIONS $SLURMRESTD_BINDS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
