[Unit]
Description=Slurm DBD accounting daemon
After=network.target munge.service
Requires=munge.service
ConditionPathExists={{slurm_paths.etc}}/slurmdbd.conf

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/slurmdbd
ExecStart={{slurm_paths.install}}/sbin/slurmdbd -D $SLURMDBD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target
