---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-merge-conflict
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: requirements-txt-fixer
  - id: check-json
  - id: check-yaml
  - id: sort-simple-yaml
  - id: debug-statements
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: detect-private-key
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.16
  hooks:
  - id: mdformat
    args:
    - --wrap=80
    exclude: README_TF\.md
    additional_dependencies:
    - mdformat-toc
    - mdformat-tables
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.2
  hooks:
  - id: yamlfmt
    args:
    - --mapping=2
    - --sequence=2
    - --offset=0
    - --width=80
- repo: local
  hooks:
  - id: packer_fmt
    name: Packer fmt
    entry: packer fmt -recursive .
    files: \.pkr(vars)?\.hcl$
    language: system
    types: [file, text]
    pass_filenames: false
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
  - id: terraform_tflint
  - id: terraform_docs
    args:
    - --args=--config=.terraform-docs.yaml
    - --hook-config=--create-file-if-not-exist=true
    - --hook-config=--path-to-file=README_TF.md
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    exclude: ^dm/
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    exclude: ^dm/
