project_id = "<PROJECT_ID>"

cluster_name = "basic"

region_list = [
  "us-east1",
]

controller = {
  controller_count = null

  ### network ###
  subnetwork_project = null
  tags               = null

  ### image ###
  source_image_project = null
  source_image_family  = null
  source_image         = "projects/schedmd-slurm-public/global/images/family/schedmd-slurm-20-11-7-centos-7"

  ### disk ###
  disk_labels      = null
  disk_size_gb     = null
  disk_type        = null
  auto_delete      = true
  additional_disks = []

  ### configuration ###
  machine_type             = "n1-standard-4"
  service_account          = null
  shielded_instance_config = null
  enable_confidential_vm   = false
  enable_shielded_vm       = true
  preemptible              = false
}
