---
monitoring_service_name: stackdriver-agent
monitoring_config_path: /etc/stackdriver/collectd.conf
monitoring_plugins_path: /etc/stackdriver/collectd.d/
monitoring_validation_cmd: '/opt/stackdriver/collectd/sbin/stackdriver-collectd -tC %s'

logging_service_name: google-fluentd
logging_config_path: /etc/google-fluentd/google-fluentd.conf
logging_plugins_path: /etc/google-fluentd/plugin/
logging_validation_cmd: '/usr/sbin/google-fluentd -c %s --dry-run'

ops-agent_service_name: google-cloud-ops-agent
ops-agent_config_path: /etc/google-cloud-ops-agent/config.yaml

windows_logging_service_name: StackdriverLogging
windows_logging_config_path: 'C:\Program Files (x86)\Stackdriver\LoggingAgent\fluent.conf'
windows_logging_plugins_path: 'C:\Program Files (x86)\Stackdriver\LoggingAgent\config.d\'

windows_ops-agent_service_name: google-cloud-ops-agent
windows_ops-agent_config_path: 'C:\Program Files\Google\Cloud Operations\Ops Agent\config\config.yaml'
