{% import "path_utils.jinja" as path_utils with context %}

resources:
- name: {{ properties['cluster_name'] }}
  type: slurm-cluster.jinja
  properties:
    cluster_name: {{ properties['cluster_name'] }}
    zone: {{ properties['zone'] }}

    vpc_net: {{ properties['network'] }}
    vpc_subnet: {{ properties['subnetwork'] }}
    external_controller_ip: {{ properties['controller_external_ip'] }}
    external_login_ips: {{ properties['login_external_ip'] }}
    external_compute_ips: {{ properties['compute_external_ip'] }}

    controller_image: https://www.googleapis.com/compute/v1/projects/schedmd-slurm-public/global/images/schedmd-slurm-20-11-4-hpc-centos-7-test
    controller_machine_type:  {{ properties['controller_machine_type'] }}

    login_node_count: {{ properties['login_node_count'] }}
    login_image: https://www.googleapis.com/compute/v1/projects/schedmd-slurm-public/global/images/schedmd-slurm-20-11-4-hpc-centos-7-test
    login_machine_type: {{ properties['login_machine_type'] }}

    suspend_time: {{ properties['suspend_time'] }}

    partitions:
      - name: {{ properties['compute_partition_name'] }}
        zone: {{ properties['zone'] }}
        image: https://www.googleapis.com/compute/v1/projects/schedmd-slurm-public/global/images/schedmd-slurm-20-11-4-hpc-centos-7-test
        image_hyperthreads: False
        machine_type: {{ properties['compute_machine_type'] }}
        max_node_count: {{ properties['compute_max_node_count'] }}
      {% if properties['compute_gpu_count']|int > 0 %}
        gpu_count: {{ properties['compute_gpu_count'] | int }}
        gpu_type: {{ properties['compute_gpu_type'] }}
      {% endif %}
        preemptible_bursting: {{ properties['compute_preemptible'] }}
        static_node_count: {{ properties['compute_static_node_count'] }}
