NodeName=${cluster_name}-compute[${range_start}-${range_end}] Sockets=1 CoresPerSocket=${cores} ThreadsPerCore=2 RealMemory=${memory} State=CLOUD
PartitionName=${name} Nodes=${cluster_name}-compute[${range_start}-${range_end}] Default=${is_default} MaxTime=INFINITE State=UP LLN=yes
