[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
addict = "*"
google-api-python-client = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
ipython = "<7.17"
more-executors = "*"
prometheus-client = "*"

[dev-packages]

[requires]
# Supports: python >= 3.6
# REF: https://github.com/pypa/pipenv/issues/1050
python_version = "3"
