addict==2.4.0
backcall==0.2.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
decorator==5.1.1
docopt==0.6.2
google-api-core==2.11.1
google-api-python-client==2.93.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-bigquery==3.11.3
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-cloud-tpu==1.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.56.0
grpcio-status==1.56.0
httplib2==0.22.0
idna==3.4
ipython==7.16.3
jedi==0.17.2
more-executors==2.11.4
packaging==23.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.13
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.23.4
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.15.1
pyparsing==3.1.0
python-dateutil==2.8.2
PyYAML==6.0
requests==2.31.0
rsa==4.9
six==1.16.0
traitlets==5.9.0
uritemplate==4.1.1
urllib3==1.26.16
wcwidth==0.2.6
yarg==0.1.9
